page-manage {

}


.textcolor{
    color:  #f26730;
}

.center{
    height:15rem;
    width:15rem;
    margin-left:13%;
    margin-top: 10%;
}
.shadow{
    height:10rem;
    width:10rem;
    margin-bottom: -50%;
    
}

.text-margin{
    font-size: 20px;
    margin-left: 7%;
    margin-top: 5%;
    color: black;
    font-weight: bold;
}
.bt-size
{
        font-size: 10px !important;
      //  margin-left: 60%;
     //   margin-right: -10%;
}

.btt
{
    margin-top: -5%;
}
.mycard{
    border-radius: 15px;
}
.radius-but{
    border-radius: 50px;
}