page-login {
    .bg-image{
        background-image: url('../../assets/imgs/bgmain.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .my-width{
		width:600px;
	}
}
