page-main {

    .bg-image{
        background-image: url('../../assets/imgs/bgmain.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .but-main{

        text-align:center;
        margin-top:10%;
    }
}
