<ion-header>
  <ion-navbar color="namaeto">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>NAMAETO'
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div #map id="map"></div>
    
       
      
    <div *ngIf="driveraccept">
    <div id="content">
    <ion-card style="border-radius:10px;height: 30px">
              <div style="margin-left:10px;margin-top:-5px">
                  <ion-input type="text" placeholder="คุณอยู่ที่ไหน....." id="current" [(ngModel)]="Start"></ion-input>
               </div>
      </ion-card>
      <ion-card style="border-radius:10px;height: 30px">
          <div style="margin-left:10px;margin-top:-5px">
              <ion-input type="text" placeholder="คุณจะไปไหน....." [(ngModel)]="End"></ion-input>
           </div>
      </ion-card>
      <button id="mtBtn" ion-button full color="namaeto" (click)="calculateAndDisplayRoute();showTypefunc()" round [disabled]="(Start == null && End == null)">ตกลง</button>
      </div>       
            <div *ngIf="showType" id="footer">
              <ion-grid >
                <ion-row>
                  <ion-card color="namaeto" style="border-radius:10px;margin-left: 15px;margin-top:10px;width: 100%;">
                          <ion-grid>
                            <ion-row style="font-size:15px">
                              <ion-col>
                                
                                  <div style="display:inline">{{distance}}</div> KM
                              </ion-col>
                              <ion-col>
                                <div style="margin-left: 30px;display:inline">{{fare}}</div> ฿
                              </ion-col>
                            </ion-row>
                          </ion-grid>  
                      </ion-card>
                </ion-row>
                <ion-row>
                <ion-col col-auto>
                    <div>
                        <button style="width:50%;" ion-button color="namaeto" round>
                        <div>
                            <ion-select [(ngModel)]="vehicle" (ngModelChange)="vehicleChange($event)" style="width:180px;margin-left: 50px">
                            <ion-option value="0" selected>วิน</ion-option>
                            <ion-option value="1">ตุ๊กตุ๊ก</ion-option>
                          </ion-select>
                          </div>
                        </button>
                      </div>
                  </ion-col>
                  <ion-col col-auto style="margin-top:-61px;margin-left:150px">
                    <div>
                     <button style="width:115%;" ion-button color="namaeto" round (click)="isCalling()">เรียกรถ</button>
                    </div>
                </ion-col>
              </ion-row>
              </ion-grid>
            </div>
          </div>
          <div id="content" *ngIf="showstatus" style="margin-top:100px;">
            <ion-grid>
              <ion-row style="margin-top:-20px;"> 
                <ion-col col-auto>
                    <ion-card color="namaeto" style="width:300px;margin-left: -15px;margin-top: 300px;">
                        <img src="http://localhost/namaetoDB/CustApp/{{driver_img}}" style="width:20%;">
                      </ion-card>
                </ion-col>
                <ion-col col-auto style="margin-top:-80px;font-size:18px;margin-left:70px;color:white">
                    {{vehicle_number}}<br> {{vehicle_brand}} {{vehicle_color}}
                </ion-col>
                <ion-col col-auto style="margin-top:-85px;font-size:45px;color:white;margin-left: 35px;">
                    <ion-icon name="call" (click)="calltoNumber()"></ion-icon>
                </ion-col>
              </ion-row>
              <ion-row style="margin-top:-15px" *ngIf="cancelBtn">
                <button style="width:115%;" ion-button color="namaeto" round (click)="cancleCalling()">ยกเลิก</button>
              </ion-row>
            </ion-grid>
        </div>
</ion-content>
