<ion-header>
  <ion-navbar color="namaeto">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>NAMAETO'
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div #map id="map"></div>
    
       
      
    <div *ngIf="driveraccept">
    <div id="content">
    <ion-card style="border-radius:10px;height: 30px">
              <div style="margin-left:10px;margin-top:-5px">
                  <ion-input type="text" placeholder="คุณอยู่ที่ไหน....." id="current" [(ngModel)]="Start"></ion-input>
               </div>
      </ion-card>
      <ion-card style="border-radius:10px;height: 30px">
          <div style="margin-left:10px;margin-top:-5px">
              <ion-input type="text" placeholder="คุณจะไปไหน....." [(ngModel)]="End"></ion-input>
           </div>
      </ion-card>
      <button id="mtBtn" ion-button full color="namaeto" (click)="calculateAndDisplayRoute();showTypefunc()" round [disabled]="(Start == null && End == null)">ตกลง</button>
      </div>        
            <div *ngIf="showType" id="footer">
              <ion-grid >
                <ion-row>
                  <ion-card color="namaeto" style="border-radius:10px;margin-left: 15px;margin-top:10px;width: 100%;">
                          <ion-grid>
                            <ion-row style="font-size:15px">
                              <ion-col>
                                  <div id="distance"></div>
                              </ion-col>
                              <ion-col>
                                <div style="margin-left: 30px" id="fare"></div>
                              </ion-col>
                            </ion-row>
                          </ion-grid>  
                      </ion-card>
                </ion-row>
                <ion-row>
                <ion-col col-auto>
                    <div>
                        <button style="width:50%;" ion-button color="namaeto" round>
                        <div>
                            <ion-select [(ngModel)]="vehicle" style="width:180px;margin-left: 50px">
                            <ion-option value="vin" selected>วิน</ion-option>
                            <ion-option value="tuktuk">ตุ๊กตุ๊ก</ion-option>
                          </ion-select>
                          </div>
                        </button>
                      </div>
                  </ion-col>
                  <ion-col col-auto style="margin-top:-61px;margin-left:150px">
                    <div>
                      <button style="width:115%;" ion-button color="namaeto" round (click)="openCalling()">เรียกรถ</button>
                    </div>
                </ion-col>
              </ion-row>
              </ion-grid>
            </div>
          </div>
          <div id="content" *ngIf="showstatus" style="margin-top:100px;">
            <ion-grid>
              <ion-row>
                <ion-col col-auto>
                    <ion-card color="namaeto" style="width:300px;margin-left: -15px;margin-top: 300px;">
                        <img src="assets/imgs/driver.png" style="width:20%;">
                      </ion-card>
                </ion-col>
                <ion-col col-auto style="margin-top:-80px;font-size:18px;margin-left:70px;color:white">
                    กข 1031 ยะลา<br> ฮอนด้าสีเขียว
                </ion-col>
                <ion-col col-auto style="margin-top:-85px;font-size:45px;color:white;margin-left: 35px;">
                    <ion-icon name="call"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
         
         
        </div>

  <!--  <ion-item>
        <ion-label></ion-label>
        <ion-input id="txtHome" type="text" placeholder="สถานที่ของคุณ"></ion-input>
    </ion-item>
    <ion-icon name="ios-locate" (click)="goCurrentPosition()" style="font-size: 40px; "></ion-icon>

  <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
  </agm-map>

 <ion-icon name="ios-locate" (click)="setCurrentPosition()" style="font-size: 40px; "></ion-icon>
   <div #map id="map"></div> -->
</ion-content>
